div {
      background-color:blue !important ;
height: 20%;
width: 2em;
border:1px solid black;
}
#id{ background-color: burlywood};
.class { background-color:
reenyellow ;}

div.note{
    background-color: red;
}
/*child element */
div > p { 
    background-color: plum
}
/*descendant */
div p {background-color:blue;  }
table:focus{}
/*attribute     element[attr ='value']*/


div[class='note']{color: yellow}
