@import "compass/css3";

ul{
list-style-type:none;
}
li:nth-child(3n), li:nth-child(5n){
  font-size:0px;
}

li:nth-child(3n):before{
  font-size:16px;
  content:"Fizz";
}
li:nth-child(5n):after{
  font-size:16px;
  content:"Buzz";
}